body {
    margin: 0;
    color: #efefef;
    background-color: #2b2b2b;
    padding-top: 70px;
    font-family: "Nanum Gothic", sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: #2b2b2b;
    opacity: 96%;
    height: 70px;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 40px;
}

header .logo {
    margin-left: 20px;
    display: inline-block;
}

header nav {
    display: inline-block;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #FF0096;
    font-size: 15px;
    margin-right: 20px;
    text-decoration: none;
}

header nav ul li:last-of-type a {
    margin-right: 0;
}

.grid-layout {
    max-width: 1140px;
    margin: 80px auto;
}

.div-text {
    max-width: 1140px;
    margin: 80px auto;
}

#s-home .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

#s-about {
    background-color: #313131;
    border: 2px solid #2a2929;
    padding: 30px;
    border-radius: 4px;
}

main figure img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

#home-conatainer-text {
    font-size: 20px;
}

#s-about {
    text-align: justify;
    text-justify: inter-word;
    font-size: large;
}

#s-about p {
    line-height: 1.5;
}

#s-about h2 {
    color: #FF0096;
}

section.s-about {
    margin-top: 1500px;
}

#s-experience h2 {
    color: #FF0096;
    font-size: 30px;
}

#s-experience .grid-layout #experience .text-exp>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-exp {
    color: #eb7bc0;
    font-size: large;
}

.date-exp {
    color: rgb(138, 138, 138);
}

.company-exp {
    font-size: large;
}
