/* ======================
   Core Styles
====================== */
/* Colors */
:root {
    --color-bg: #2b2b2b;
    --color-text: #f0f0f0;
    --color-primary: #e91e63;
    --color-accent: #ff80ab;
    --color-selection: #be5c7b;
    --color-secondary: #81c784;
    --color-footer: #212020;
    --color-link-hover: #4caf50;
}

/* Relative Units */
:root {
    --spacing-small: 0.5rem; 
    --spacing-medium: 1rem; 
    --spacing-large: 1.5rem; 
    --spacing-xlarge: 2rem; 
    --spacing-xxlarge: 2.5rem; 
    --width-contact: 2.5rem; 
    --height-contact: 2.5rem; 
    --width-technology: 7rem; 
    --height-technology: 7rem; 

}

/* Reset CSS para consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

main figure img{
    width: 90%; 
    height: auto;
    border-radius: 20px;
}

::selection {
    background-color: var(--color-selection);
    color: var(--color-text);
}


/* ======================
   Typography
====================== */
h1, h2, h3 {
    color: var(--color-primary);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: var(--spacing-large);
}

p {
    margin-bottom: var(--spacing-large); 
}

section {
    padding: var(--spacing-large); 
}


/* ======================
   Links and Buttons
====================== */
a {
    color: var(--color-accent);
    display: flex; 
    align-items: center;
    text-decoration: none;
}


/* ======================
   Header
====================== */
header {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-bg);
    opacity: 96%;
    height: 90px;
    top: 0;
    right: 0;
    width: 100%;
    position: fixed;
}

header div {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 0 var(--spacing-large);
}

header img {
    max-width: 20%;
    height: auto;
    display: block;
}

nav ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}

nav ul li {
    margin-right: var(--spacing-medium);
}

header nav ul li:last-of-type a {
    margin-right: 0;
}

nav a {
    color: white; 
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline; 
}


/* ======================
   Layout Sections
====================== */
.grid-layout {
    max-width: 1140px;
    margin: 80px auto;
}

.div-text {
    max-width: 1140px;
    margin: 80px auto;
}

#home {
    margin-top: var(--spacing-xlarge);
}

#home .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 70px;

}

#about {
    margin-top: var(--spacing-large); 
}

#about, #projects {
    background-color: #313131;
    border: 2px solid #2a2929;
    padding: 30px;
    border-radius: 4px;
}

#technologies h2 {
    margin-bottom: var(--spacing-xxlarge);
}


/* ======================
   Section Styles
====================== */
.home-conatainer-text {
    font-size: 20px;
}

.home-conatainer-text h2 {
    font-weight: bold;
}

.home-conatainer-text p {
    font-size: 1.2em;
}

#about, .experience-list {
    text-align: justify;
    text-justify: inter-word;
}

.experience-list {
    list-style: none;
    margin: 0 0 var(--spacing-xlarge) var(--spacing-medium);
    line-height: 1.5;
}

#about p {
    line-height: 1.5;
    font-size: large;
}

#experience h2 {
    font-size: 30px;
}

#experience .grid-layout #experience-item .text-exp>div {
    display: flex;
    justify-content: space-between;
}

.title-exp {
    color: var(--color-accent);
    font-size: large;
}

.company-exp {
    text-align: left;
    margin-bottom: var(--spacing-small);
}

.date-exp {
    color: #c4c4c4;
}


/* ======================
   Footer
====================== */
footer {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--color-footer);
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}


/* ======================
   Contact & Technologies
====================== */
.item-contact {
    list-style-type: none;
    margin-bottom: var(--spacing-small);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-contact svg {
    margin-right: var(--spacing-small);
    fill: var(--color-secondary);
    transition: transform 0.3s ease;
}

.item-contact span {
    font-size: 16px; 
}

.item-contact a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: inherit; 
    transition: color 0.3s ease, transform 0.3s ease;
}

.item-contact a:hover svg,
.item-contact a:hover span {
    transform: scale(1.07);
    color: var(--color-link-hover);
}

.item-contact a:hover {
    cursor: pointer;
}

.description-contact {
    margin-left: var(--spacing-small);
}

.icon-contact svg {
    width: var(--width-contact);
    height: var(--height-contact);
}

.icon-technology svg {
    width: var(--width-technology);
    height: var(--height-technology);
}

.item-contact svg {
    margin-right: var(--spacing-small);
    fill: var(--color-secondary);
    transition: transform 0.3s ease;
}

.item-technology svg {
    margin-right: var(--spacing-medium);
    fill: var(--color-accent);
}

.about {
    margin-top: 1500px;
}

.company-exp {
    font-size: medium;
}