#about { 
    background-color: var(--color-bg-secondary);

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 var(--margin-lateral-medium) 0 var(--margin-lateral-medium);
    
        p {
            line-height: 1.5;
            text-align: justify;
            margin-bottom: 20px;
        }
      }
}


