body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: none; 
    -ms-overflow-style: none;
}

h1, h2, h3, h4 {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: var(--color-primary);
    margin-bottom: var(--spacing-large);
}

.title {
    font-size: var(--font-size-title);
    margin-bottom: var(--margin-title-bottom);
    color: var(--color-secondary);
    font-weight: bold;
}

.subtitle {
    font-size: var(--font-size-subtitle);
    margin-bottom: var(--margin-subtitle-bottom);
}

.title-main {
    font-size: var(--font-size-subtitle-main);
    margin-bottom: var(--margin-title-main-bottom);
}

p, h3, h4, span, a, li {
    font-size: var(--font-size-paragraph);
}

a {
    color: var(--color-accent);
    display: flex; 
    align-items: center;
    text-decoration: none;
}

section {
    padding: var(--spacing-large);
}

.container {
    box-sizing: border-box;
}

.content {
    padding: var(--padding-large);
}

.grid-layout {
    margin: var(--margin-lateral-medium) auto;
    display: flex;
    justify-content: space-between;
    padding: var(--padding-large);
}

::selection {
    background-color: var(--color-selection);
    color: var(--color-text);
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* Chrome, Safari e Opera */
}

html, body {
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE e Edge */
}