header {
    box-shadow: 0 1px 6px 0 rgba(109, 144, 177, 0.15);
    background-color: var(--color-header-footer);
    opacity: 95%;
    height: 5.6em;
    top: 0;
    right: 0;
    width: 100%;
    padding: var(--spacing-medium) var(--spacing-large);
    position: fixed;
}

header img {
    max-width: 30%;
    height: auto;
    display: inline-block;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    height: 100%;
    padding: 0 var(--spacing-large);
    width: 100%;
}

#logo_header {
    display: flex;
}

header nav {
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        margin: 0;
    }

    ul li {
        margin-right: var(--spacing-large);
    }

    ul li:last-of-type a {
        margin-right: 0;
    }

    a {
        color: var(--color-accent); 
        text-decoration: none; 
        font-size: var(--size-font-xsmall);
    }

    a:hover {
        color: var(--color-secondary);
    }
}