#home {
    padding-top: 7em;
}

#home .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

.home-conatainer-text p {
    font-size: var(--size-font-xxlarge);
}

main figure img{
    width: 90%; 
    height: auto;
    border-radius: 20px;
}