#home {
    padding-top: 7em;
}

#home .grid-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 0 var(--margin-lateral-medium) 0 var(--margin-lateral-medium);
}

.home-container-text p {
    margin: 0 var(--margin-lateral-small) 0 var(--margin-lateral-small);
}

main figure img{
    width: 80%; 
    height: auto;
    border-radius: 2em;
}